<!-- Footer Start -->

<footer>

    {% include social-buttons.html %}

    <p><br><br></p>

    <div class="container text-center">
	    <a href="http://github.com/archeonauts"><img alt="Archeonauts" src="../snsf/img/footer/logo_archeonauts1.jpg"></a>
		<a href="http://art-anima.com/"><img alt="Art-Anima" src="../snsf/img/footer/logo_artanima.jpg"></a>
		<a href="http://bgb.org.rs/"><img alt="Biblioteka grada Beograda" src="../snsf/img/footer/logo_bibliotekagrada.jpg"></a>
		<br><br>
        <p style="text-align: center !important; font-size: 14px;">Copyright &copy; {{ site.author }} {{ site.time | date: "%Y" }}. Theme by <a href="https://github.com/PanosSakkos">Panos Sakkos.</a> Powered by <a href="https://github.com">Github.</a></p>
        {% if site.keybase-in-footer %}
        <p style="font-size: 16px;"><a href="https://keybase.io/{{site.keybase-username}}" target="_blank"><i
                class="fa fa-key"></i> {{site.keybase-username}} on Keybase</a></p>
        {% endif %}
    </div>
</footer>

<p></p>

<!-- Footer End -->
